@use '../abstracts/variables';

.email-wrapper {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;

  .email {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 2.5rem;
    border-radius: 5px;
    background-color: #ffffff;
    transition: 300ms;
    border: 1px solid rgba($color: $primary-color, $alpha: 0.2);
    box-shadow: 25px 50px 50px -45px #f55951;

    .email-img {
      width: 10rem;
      padding: 0;
      margin-bottom: 1rem;
    }
    .email-typography {
      width: 100%;
      h3 {
        margin: 1.5rem 0;
      }
      p {
        @include text(0.8rem, 400, $text-color);
        margin: 1rem 0;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .email-wrapper {
    .email {
      width: 75%;
      padding: 3rem 1.5rem;

      .email-img {
        width: 5rem;
      }
      .email-typography {
        width: 100%;
        p {
          @include text(0.7rem, 400, $text-color);
          margin-bottom: 2rem;
        }
      }
    }
  }
}
