.carousel {
  height: calc(100vh - 200px);
}

.carousel-item2 {
  height: 100% !important;
  width: 100%;
}

.carousel-inner {
  height: 100%;
}
.carousel-link {
  max-width: 100%;
  height: auto;
  // background-image: url('../../public/compressed.jpg');
  // background-size: cover;
  // background-position: center;
}

.carousel-img-wrapper {
  width: 100%;
  height: 700px;
}
.carousel-img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-device-width: 768px) {
  .carousel-link {
    height: 500px;
  }
}
@media only screen and (max-device-width: 475px) {
  .carousel-item2 {
    height: 60% !important;
    width: 100%;
  }
  .carousel-img-wrapper {
    height: 300px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    height: 60%;
  }
}
