@use '../abstracts/mixins';
@use '../abstracts/variables';

.carousel {
  // height: calc(100vh - 200px);
  height: 100%;
}

.carousel-item2 {
  height: 100% !important;
  width: 100%;
  position: relative;
}

.carousel-link {
  max-width: 100%;
  height: auto;
}

.carousel-img-wrapper {
  width: 100%;
  height: auto;
}

@media only screen and (max-device-width: 768px) {
  .carousel {
    height: 100%;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background-size: 75% 75%;
  }
}
@media only screen and (max-device-width: 500px) {
  .carousel {
    height: 100%;
  }
  .carousel-item2 {
    width: 100%;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background-size: 50% 50%;
  }
}
