/*Variables*/
$bg-color: #f1e8e6;
$primary-color: #f55951;
$secondary-color: #111127;
$third-color: #edd2cb;
$grey-color: #f2f5f5;
$text-color: #565360;
$label-color: #908e9b;
$disabled-color: #e1dfe9;
$fs-sm-1: 0.25rem;
$fs-sm-2: 0.375rem;
$fs-sm-3: 0.5rem;
$fs-md-1: 1rem;
$fs-md-2: 1.25rem;
$fs-md-3: 1.5rem;
$fs-lg-1: 2rem;
$fs-lg-2: 3rem;
$fs-lg-3: 4rem;
